* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

.card {
    display: inline-block;
    border: solid 1px #CCC;
    border-radius: .75rem;
    overflow: hidden;
    max-width: 600px;
    
    & > .name {
        padding: .75rem 1.5rem;
        background: #222;
        color: #FFF;
        text-align: center;
    }
    
    & > .contents {
        font-size: .9rem;
        padding: .75rem 1.5rem;
        
        div {
            margin-bottom: .75rem;
        
            .title {
                margin-bottom: .375rem;
            }
        
            .contents {
                font-size: .8rem;
            }
        }
        
        .categories {
            display: flex;
            flex-wrap: wrap;
            font-size: .8rem;
            
            .category {
                padding: .375rem .75rem;
                background: #EEE;
                border-radius: 9999px;
                margin-right: .35rem;
                margin-bottom: .5rem;
                font-size: .8rem;
            
                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
        
        .postal-code {
            display: inline-block;
            font-size: .7rem;
        }
        
        .capacities {
            
            ul {
                display: flex;
                list-style: none;
                margin-bottom: -.4rem;
                
                li {
                    margin-bottom: .4rem;
                    margin-right: 1rem;
                    font-size: .8rem;
                    
                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
